* {
    font-family: Arial, Helvetica, sans-serif;
}

.main-section{
    margin: 50px 20px 0 20px;
    border: 3px solid black;
}

.main-section h2{
    font-size: 50px;
    color: rgb(10, 151, 104);
    text-align: center;
}

.main-section h3{
    font-size: 25px;
    color: rgb(10, 151, 104);
}

.border{
    border-bottom: 1px solid black;
}

.title {
    margin: 50px 50px 0 50px;
}

.title h1{
    font-size: 50px;
    color: rgb(10, 151, 104);
    text-align: center;
}

.title p{
    text-align: center;
}

.general-information {
    display: flex;
}

.general-information div {
    padding: 30px 30px 30px 30px;
}

.experience-section{
    background-color: rgb(205, 244, 188);
    padding: 10px 0 30px 0;
}

.education-title{
    padding: 0px 30px 0px 30px;
}

.education-container{
    display: flex;
    padding: 0px 30px 0px 30px;
}

.university-container h4{
    width: 140px;
}

.major-container{
    padding: 0 0 0 60px;
}

.border-container{
    width: 1358.4px;
    margin: 0 50px 0 45px;
}

.working-experiences-container{
    padding: 0 0 0 30px;
}

.skill-title{
    padding: 0px 30px 0px 30px;
}

.skill-container{
    display: flex;
    padding: 0px 30px 0px 30px;
}
.skill-item{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
}

.skill-item div{
    margin: 0 0 10px 0;
}

.checkbox-container{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 400px;
}

.child-checkbox-container{
    display: flex;
    margin: 0 0 14px 0;
}

.checkbox-green{
    border: 3px solid green;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
}

.checkbox-gray{
    border: 3px solid gray;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
}

.language-title{
    padding: 0px 30px 0px 30px;
}

.language-checkbox-container{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 262px;
}





